<section class="block container">
    <header class="block__header">
      <h2 class="block__heading">Heading</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur
        dolorem blanditiis ratione assumenda dignissimos consequuntur
        consequatur iste et qui perferendis!
      </p>
    </header>
  </section>
  <section class="block block--dark block--skweed-left">
    <div class="container">
      <h2 class="block__heading">Heading</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur
        dolorem blanditiis ratione assumenda dignissimos consequuntur
        consequatur iste et qui perferendis!
      </p>
    </div>
  </section>